<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Cloud9</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>txt</string>
				<string>text</string>
				<string>utf8</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>nw.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/plain</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Plain Text File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>html</string>
				<string>phtml</string>
				<string>shtml</string>
				<string>xhtml</string>
				<string>htm</string>
				<string>pht</string>
				<string>sht</string>
				<string>xht</string>
				<string>phtm</string>
				<string>shtm</string>
				<string>xhtm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>nw.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/html</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>HTML Source File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.html</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>js</string>
				<string>htc</string>
				<string>jscript</string>
				<string>javascript</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>nw.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/javascript</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>JavaScript Source File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.netscape.javascript-source</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>py</string>
				<string>rpy</string>
				<string>cpy</string>
				<string>python</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>nw.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/x-python-script</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Python Source File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.python-script</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gem</string>
				<string>rb</string>
				<string>ru</string>
				<string>rz</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>nw.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/x-ruby</string>
				<string>text/ruby-script</string>
				<string>application/x-rzip</string>
				<string>application/x-ruby-gem</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Ruby Source File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.ruby-script</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>css</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>nw.icns</string>
			<key>CFBundleTypeName</key>
			<string>Cascading style sheet</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>markdown</string>
				<string>markd</string>
				<string>mdown</string>
				<string>md</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>nw.icns</string>
			<key>CFBundleTypeName</key>
			<string>Markdown document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>clj</string>
				<string>cljs</string>
				<string>edn</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>nw.icns</string>
			<key>CFBundleTypeName</key>
			<string>Clojure Source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>node-webkit</string>
	<key>CFBundleIconFile</key>
	<string>nw.icns</string>
	<key>CFBundleIdentifier</key>
	<string>io.c9.desktop</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Cloud9</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>Version 3.0</string>
	<key>CFBundleVersion</key>
	<string>3.0</string>
	<key>LSFileQuarantineEnabled</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>10.6.0</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>SCMRevision</key>
	<string>213023</string>
	<key>UTExportedTypeDeclarations</key>
	<array/>
</dict>
</plist>
