build/*/
build/*.zip
build/*.exe
build/*.tgz
b9/lib/js/node_modules/
docs/generate/lib/node_modules
plugins/c9.ide.layout.classic/less/*.css
plugins/c9.vfs.standalone/www/less.html
plugins/c9.ide.run/todo
plugins/c9.vfs.standalone/www/charts
plugins/c9.ide.language.javascript.tern/util/sigs_ts
plugins/c9.account.billing/node_modules/
plugins/c9.account/node_modules/
plugins/c9.react/node_modules/
plugins/c9.api.project/coverage/
plugins/c9.api.user/coverage/
plugins/c9.proxy.apps/coverage/
plugins/c9.db.redis/coverage/
scripts/build
plugins/c9.run/todo
docs/generate/output
docs/generate/lib/node_modules
plugins/c9.docker/bin/node_modules/
node_modules/vfs-local/test/mock2/
plugins/c9.fs/mock/

# ignore node_modules
node_modules/*
plugins/c9.batch/analytics/node_modules/
# except git subtrees 
!node_modules/ace*
!node_modules/architect*
!node_modules/vfs*
!node_modules/c9
!node_modules/frontdoor
!node_modules/kaefer
!node_modules/verify-bot
node_modules/kaefer/node_modules/
!node_modules/nak
!node_modules/pivottable
!node_modules/smith
!node_modules/treehugger
!node_modules/logicblox
!node_modules/connect-architect
!node_modules/ui
!node_modules/react-bootstrap
!node_modules/oldclient
!node_modules/vargs

node_modules/oldclient/node_modules
node_modules/oldclient/plugins-server/c9.api.project/tmp*

node_modules/vfs-local/test/mock
node_modules/vfs-ssh/__worker.js

plugins/c9.fs/mock/helloworld.js
plugins/c9.fs/mock/run.watch

node_modules/logicblox/plugins/logicblox.repl/lbfileserver/node_modules
node_modules/logicblox/plugins/logicblox.pivot/examples/query.json
node_modules/pivottable/node_modules
node_modules/c9/node_modules
plugins/c9.proxy/.proxy.generated.cfg
plugins/c9.proxy/haproxy
plugins/c9.proxy/haproxy-*
**/.module-cache/
plugins/c9.account/node_modules/
plugins/c9.account.*/node_modules/

test/selenium/notify/
test/selenium/results/
testresults
*cfresult*

.c9revisions
.settings
.c9config
.c9
*.watch
*.pid
*.swp
*#*
npm-debug.log
foo.js
hello.js
plugins/c9.docker/containers/ci/files/github_c9_newclient
plugins/c9.docker/containers/shared/files/plugins/salesforce*
plugins/c9.docker/containers/shared/files/plugins/google*
security-audit.log
