Host github.com
  User git
  Port 22
  Hostname github.com
  IdentityFile /home/ubuntu/.ssh/id_rsa_deploy
  TCPKeepAlive yes
  IdentitiesOnly yes
  StrictHostKeyChecking no

Host static.c9.io
  IdentityFile /home/ubuntu/.ssh/id_rsa_deploy
  StrictHostKeyChecking no
  TCPKeepAlive yes
  IdentitiesOnly yes